@model TelkomLearn.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelkomLearn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TelkomLearn.styles.css" asp-append-version="true" />
</head>

<!-- Section: Design Block -->
<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Create Your Account <br />
                        <span style="color: #7C8CFD;">Join us today!</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Sign up to access exclusive features and services.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form asp-action="Register" method="post">
                                <!-- 2 column grid layout with text inputs for first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="formRegisterFirstName" name="FirstName" class="form-control" required />
                                            <label class="form-label" for="formRegisterFirstName">First name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="formRegisterLastName" name="LastName" class="form-control" required />
                                            <label class="form-label" for="formRegisterLastName">Last name</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="email" id="formRegisterEmail" name="Email" class="form-control" required />
                                    <label class="form-label" for="formRegisterEmail">Email address</label>
                                </div>

                                <!-- Password input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" id="formRegisterPassword" name="Password" class="form-control" required />
                                    <label class="form-label" for="formRegisterPassword">Password</label>
                                </div>

                                <!-- Confirm Password input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" id="formRegisterConfirmPassword" name="ConfirmPassword" class="form-control" required />
                                    <label class="form-label" for="formRegisterConfirmPassword">Confirm Password</label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" style="background-color: #7C8CFD;">
                                    Sign up
                                </button>

                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </button>
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </div>
                            </form>
                            <div class="mt-4 text-center">
                                <p>Already have an account? <a href="@Url.Action("Login", "Account")" style="color: #7C8CFD;">Login here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
